img {
    max-width: 100%;
    max-height: 100%;
}

.thumb {
    width: 150px;
    height: 250px;
    float: left;
}

.sinopsis {
    display: inline;
}

.sinopsis-detalle {
    font-family: 'Walter Turncoat', cursive;
}

.duracion-detalle {
    font-family: 'Walter Turncoat', cursive;
    font-size: 20px;
}

.margintop15{
    margin:15px 0px;

}

.nav_modified{
    /*background-color: #24ace5;*/
    margin-bottom: 0px !important;
    border-radius: 0px !important;
}

body{
    margin: 0;
    padding: 0;
    /*height: 100%;*/
    /*background-color: #b1b1b1 !important;*/
    /*background-image: linear-gradient(#434343, #282828);*/
}


.footer{
    background-color: rgb(36, 36, 36);
}

.footer .row .col-md-12 h2 {
    color:rgb(187, 187, 187) !important;
}

.bg2{
    background-color: #23527c;
}
.notice{
    color: #ffffff;
}

.item{
    height: 450px;
}

.img_container{
    /*position: fixed;*/
    overflow: hidden;
    /*width:100%;*/
    /*height: auto;*/
    /*height:600px !important;*/
}

.img_1{
    /*position: fixed;*/
    /*width:100% !important;*/
    height:135px  !important;
}

.title_cartelera{
    background-color: #F45959;
}
.carrouseele{
    /*border: 2px solid black;*/
    opacity: 0.9;
}

.white_text{
    color:white;
}
.border_nav{
    /*border-bottom: 2px solid black;*/
}

.image_sun img{
    min-height: 300px;
}
.rowa .row{
    clear: none !important;
}

.estrenos{
    background-color:rgb(12, 39, 61);
}

.titlee{
    /*color:#ffffff;*/
    max-width: 150px;
    margin:5px auto;
}

.bg_white{
    background-color: white !important;
}
